#![enable(implicit_some)]
Container(
    transform: (
        id:             "difficulty_select_menu",
        x:              0.0,
        y:              0.0,
        width:          1.0,
        height:         1.0,
        anchor:         Middle,
        pivot:          Middle,
        mouse_reactive: false,
        percent:        true,
        opaque:         false,
    ),

    background: SolidColor(0.0, 0.0, 0.0, 1.0),

    children: [
        Label(
            transform: (
                id:             "label_game_name",
                x:              0.0,
                y:              0.45,
                width:          1.0,
                height:         0.25,
                anchor:         Middle,
                pivot:          TopMiddle,
                mouse_reactive: false,
                percent:        true,
                opaque:         true,
            ),
            text: (
                text:      "Working Title",
                font_size: 48.0,
                color:     (1.0, 1.0, 1.0, 1.0),
                font:      File("resources/fonts/undefined-medium.ttf", ("TTF", ())),
                align:     TopMiddle,
            ),
        ),

        Button(
            transform: (
                id:             "button_start_easy",
                x:              0.0,
                y:              0.1,
                width:          0.3,
                height:         0.1,
                anchor:         MiddleLeft,
                pivot:          MiddleLeft,
                mouse_reactive: true,
                percent:        true,
                opaque:         true,
                selectable:     0,
            ),
            button: (
                text:              "Easy",
                font_size:         24.0,
                font:              File("resources/fonts/undefined-medium.ttf", ("TTF", ())),
                normal_text_color: (1.0, 1.0, 1.0, 1.0),
                hover_text_color:  (0.25, 0.25, 0.25, 1.0),
            ),
        ),

        Button(
            transform: (
                id:             "button_start_normal",
                x:              0.0,
                y:              0.0,
                width:          0.3,
                height:         0.1,
                anchor:         MiddleLeft,
                pivot:          MiddleLeft,
                mouse_reactive: true,
                percent:        true,
                opaque:         true,
                selectable:     1,
            ),
            button: (
                text:              "Normal",
                font_size:         24.0,
                font:              File("resources/fonts/undefined-medium.ttf", ("TTF", ())),
                normal_text_color: (1.0, 1.0, 1.0, 1.0),
                hover_text_color:  (0.25, 0.25, 0.25, 1.0),
            ),
        ),

        Button(
            transform: (
                id:             "button_start_hard",
                x:              0.0,
                y:              -0.1,
                width:          0.3,
                height:         0.1,
                anchor:         MiddleLeft,
                pivot:          MiddleLeft,
                mouse_reactive: true,
                percent:        true,
                opaque:         true,
                selectable:     2,
            ),
            button: (
                text:              "Hard",
                font_size:         24.0,
                font:              File("resources/fonts/undefined-medium.ttf", ("TTF", ())),
                normal_text_color: (1.0, 1.0, 1.0, 1.0),
                hover_text_color:  (0.25, 0.25, 0.25, 1.0),
            ),
        ),

        Button(
            transform: (
                id:             "button_start_absurd",
                x:              0.0,
                y:              -0.2,
                width:          0.3,
                height:         0.1,
                anchor:         MiddleLeft,
                pivot:          MiddleLeft,
                mouse_reactive: true,
                percent:        true,
                opaque:         true,
                selectable:     3,
            ),
            button: (
                text:              "ABSURD",
                font_size:         24.0,
                font:              File("resources/fonts/undefined-medium.ttf", ("TTF", ())),
                normal_text_color: (1.0, 0.2, 0.2, 1.0),
                hover_text_color:  (1.0, 0.025, 0.025, 1.0),
            ),
        ),
    ],
)
