#![enable(implicit_some)]
Container(
    transform: (
        id:             "pause_menu",
        x:              0.0,
        y:              0.0,
        width:          1.0,
        height:         1.0,
        anchor:         Middle,
        mouse_reactive: false,
        percent:        true,
        opaque:         false,
    ),

    children: [
        Label(
            transform: (
                id:             "label_paused",
                x:              0.0,
                y:              0.0,
                width:          1.0,
                height:         1.0,
                anchor:         Middle,
                mouse_reactive: false,
                percent:        true,
                opaque:         false,
            ),
            text: (
                text:      "Paused",
                font_size: 32.0,
                color:     (1.0, 1.0, 1.0, 1.0),
                font:      File("resources/fonts/undefined-medium.ttf", ("TTF", ())),
                align:     Middle,
            ),
        ),

        Button(
            transform: (
                id:             "button_to_main_menu",
                x:              0.0,
                y:              -4.0,
                width:          32,
                height:         32,
                anchor:         TopRight,
                pivot:          TopRight,
                mouse_reactive: true,
                percent:        false,
                opaque:         true,
                selectable:     4,
            ),
            button: (
                text:              "X",
                font_size:         24.0,
                font:              File("resources/fonts/undefined-medium.ttf", ("TTF", ())),
                normal_text_color: (1.0, 1.0, 1.0, 1.0),
                hover_text_color:  (0.5, 0.5, 0.5, 1.0),
            ),
        ),
    ],
)
