#![enable(implicit_some)]
Container(
    transform: (
        id:             "win_menu",
        x:              0.0,
        y:              0.0,
        z:              0.0,
        width:          0.7,
        height:         0.3,
        anchor:         Middle,
        mouse_reactive: false,
        percent:        true,
        opaque:         false,
    ),

    children: [
        Label(
            transform: (
                id:             "label_win",
                x:              0.0,
                y:              0.0,
                z:              1.0,
                width:          1.0,
                height:         1.0,
                anchor:         Middle,
                mouse_reactive: false,
                percent:        true,
            ),
            text: (
                text:      "Thank You For Playing <3",
                font_size: 24.0,
                color:     (1.0, 1.0, 1.0, 1.0),
                font:      File("resources/fonts/undefined-medium.ttf", ("TTF", ())),
                align:     Middle,
            ),
        ),
    ],
)
