(
    axes: {
        PlayerX: Emulated(pos: Key(D), neg: Key(A)),
        PlayerY: Emulated(pos: Key(W), neg: Key(S)),
    },
    actions: {
        PlayerJump:  [ [Key(Space)], [Key(K)], ],
        PlayerRun:   [ [Key(LShift)], ],
        TogglePause: [ [Key(Escape)], [Key(P)], ],
        Quit:        [ [Key(LShift), Key(Escape)], [Key(LShift), Key(Q)], ],
        ToMainMenu:  [ [Key(Q)], [Key(Back)], ]
    },
)
