(
    axes: {},
    actions: {
        Quit:           [ [Key(Escape)], [Key(LShift), Key(Q)], ],
        MenuNext:       [ [Key(S)], [Key(Down)], [Key(J)], [Key(Tab)], ],
        MenuPrev:       [ [Key(W)], [Key(Up)], [Key(K)], [Key(LShift), Key(Tab)], ],
        MenuSelect:     [ [Key(Return)], [Key(Space)], ],
        MenuDeleteSave: [ [Key(X)], [Key(Delete)], ],
    },
)
