(
    camera: (
        size: (416.0, 416.0),
    ),

    player: (
        normal_speed: (
            acceleration: (400.0, 400.0),
            max_velocity: (Some(180.0), Some(180.0)),
        ),
        run_speed: (
            acceleration: (600.0, 600.0),
            max_velocity: (Some(400.0), Some(400.0)),
        ),
        decr_velocity: (2000.0, 2000.0),
        jump_data1: (
            jump_strength:      300.0,
            wall_jump_strength: (350.0, 200.0),
            dash_strength:      (800.0, 200.0),
            gravity:            (0.0, -800.0),
            jump_gravity:       (0.0, -800.0),
            decr_jump_strength: 0.0,
            min_jump_velocity:  50.0,
            // Y velocity is only decreased when player is moving _upwards_.
            decr_velocity:      (2000.0, 200.0),
            bounce_strength:    400.0,
        ),
        jump_data2: (
            jump_strength:      200.0,
            wall_jump_strength: (300.0, 200.0),
            dash_strength:      (300.0, 200.0),
            gravity:            (0.0, -150.0),
            jump_gravity:       (0.0, -50.0),
            decr_jump_strength: 100.0,
            min_jump_velocity:  15.0,
            // Y velocity is only decreased when player is moving _upwards_.
            decr_velocity:      (600.0, 150.0),
            bounce_strength:    200.0,
        ),
        animation_sizes: (
            no_sprite:       (16.0, 16.0),
            // 0.375
            single_sprite:   (7.5, 20.0),
            animated_sprite: (7.5, 20.0),
        ),
        slide_velocity:  -10.0,
    ),

    enemies: (
        ground: (
            size:         (16.0, 16.0),
            gravity:      Some((0.0, -600.0)),
            acceleration: (50.0, 0.0),
            max_velocity: (Some(10.0), Some(100.0)),
        ),
        flying: (
            size:         (38.0, 20.0),
            gravity:      None,
            acceleration: (100.0, 100.0),
            max_velocity: (Some(40.0), Some(20.0)),
        ),
    ),
)
