[Desktop Entry]
Type=Application
Version=1.0
Name=WorkingTitle
Comment=Play the game!
TryExec=./ld45-working-title
Exec=./ld45-working-title
Terminal=false
Categories=Game;
