(
    texture_width:  500,
    texture_height: 500,
    sprites: [
        ( // 0 - black square
            x:      0,
            y:      0,
            width:  16,
            height: 16,
        ),
    ],
)
