(
    animations: [
        /// Played once when a new collision happens.
        (
            name: "on_collision_enter",
            default_delay_ms: Some(100),
            sprite_ids: [8, 9, 17],
        ),
        /// Played continuously while there is a collision
        /// (after the "on_collision" animation has played once).
        (
            name: "in_collision",
            default_delay_ms: Some(500),
            sprite_ids: [9],
        ),
        /// Played once when this leaves a collision.
        (
            name: "on_collision_leave",
            default_delay_ms: Some(167),
            sprite_ids: [17, 9, 8],
        ),
    ],
    current: None,
)
