(
    animations: [
        (
            name: "no_sprite",
            default_delay_ms: Some(1000),
            sprite_ids: [2],
        ),
        (
            name: "idle",
            default_delay_ms: Some(500),
            sprite_ids: [0, 1],
        ),
        (
            name: "walk",
            default_delay_ms: Some(100),
            sprite_ids: [0, 1],
        ),
    ],
    current: Some("no_sprite"),
)
